<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Brief Management App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <h1>Welcome to the Brief Management System</h1>
    <div class="container">
        <a href="/login2">Login</a> |
        <a href="/register">Register</a> |
        <a href="/create_brief">Create Brief</a> |
        <a href="/briefs">View Briefs</a>
    </div>
</body>

</html>